container_commands:
  10redirect:
    command: perl -0777 -pe 's#(listen 8081;\n)#$1\n    if (\$request_uri = "/health") {\n      set \$redirectFlag N;\n    }\n\n    if (\$http_x_forwarded_proto != "https") {\n      set \$redirectFlag "\${redirectFlag}Y";\n    }\n\n    if (\$redirectFlag = "Y") {\n      return 301 https://\$host\$request_uri;\n    }#igms' -i /tmp/deployment/config/#etc#nginx#conf.d#00_elastic_beanstalk_proxy.conf